extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9
        h1 #{project.project_name}
        
        p.lead.text-lighter
          | #{project.description}

      .cell.portfolio-meta.small-6.medium-2.large-3
        .sc
          h6 Technologies

          ul
            each tech in project.technologies
              li= tech

        a.button.expanded(href=`${project.live_link}`) Live Demo
        a.button.expanded(href=`${project.github_link}`) GitHub Repo
    
    each image in project.image_urls
      if image != "thumbnail.png"
        if project.id <= 9
          img.image.portfolio-index(src=`../static/images/proj0${project.id}/${image}`)
        else
          //- default
          img.image.portfolio-index(src=`../static/images/proj${project.id}/${image}`)
